.CustomDiv {
    margin: 3px;
    background-color: white;
    border: 2px solid green;
    padding: 40px;
    color: black;
   
  }
 ul {
  list-style-type: none;
 }

 .responsive {
  width: 100%;
  height: auto;
}

.PortFolio {
  width: 400px;
  height: 200px;
}


  body
  { 
    background-image: url("../Images/bgImage.jpg")
  };
   


 p{
    color: black;
}

#Message
{
    height:200px;
    width: 100%;
    
}
