.box {

  width: 75%;
  border: 2px solid green;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  background-color: white;
  }
  
  
 
body  {
    background-image: url("../assets/images/background.jpg");
  
    }
    #Message
    {
        height:200px;
        width: 700px;
        font-size:14pt;
    }

    #Email
    {
        width: 500px;
        font-size:14pt;
    }